<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>nugg_app_id</key>
	<string>1030526070</string>
	<key>nugg_networkid</key>
	<string>2011964291</string>
	<key>nugg_domain</key>
	<string>https://71iapp-cp.nuggad.net</string>
</dict>
</plist>
